.container {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 70vh;
}

.loader {
    width: 140px;
}

@media (max-width: 1024px) {
    .loader {
        width: 120px;
    }
}

@media (max-width: 768px) {
    .loader {
        width: 90px;
    }
}
