.content__list {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(220px, 1fr));
    gap: 48px;
    justify-items: center;
}

@media (max-width: 1024px) {
    .content__list {
        grid-template-columns: repeat(auto-fill, minmax(180px, 1fr));
        gap: 30px;
    }
}

@media (max-width: 768px) {
    .content__list {
        grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
        gap: 10px;
    }
}
